@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SetHeader>
    Hello
</SetHeader>

<SetFooter>
    Goodbye
</SetFooter>

<SetHeader>
    Hello 2
</SetHeader>

<SetFooter>
    Goodbye 2
</SetFooter>